<header>
  <h1>Hola, soy <span>Alex</span></h1>
  <p>Soy un profe de Historia, sin mucho más,</p>
  <p>que le gusta la Informática 🙃</p>
  <small>(si, un poco raro)</small>
</header>
<style>
  header {
    text-align: center;
    margin: 30vh;
  }

  h1 {
    font-size: 2.7em;
    margin: 0;
  }

  span {
    color: #007bff;
  }

  p {
    font-size: 1.4em;
    margin: 0;
    color: #145192;
  }
  small {
    display: block;
    font-size: 0.8em;
    color: #145192;
  }
  @media screen and (max-width: 600px) {
    header {
      margin: 5vh;
      margin-top: 25vh;
    }
  }
</style>
