<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Portafolio de Alex Cuadro" />
    <meta name="author" content="Alex Cuadro" />
    <meta
      name="keywords"
      content="Alex Cuadro, EduAlex, Historia, Informática"
    />
    <meta name="theme-color" content="#f2faff" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta property="og:title" content="EduAlex" />
    <meta property="og:description" content="Portafolio de Alex Cuadro" />
    <meta property="og:image" content="https://edualex.uy/og-image.webp" />
    <meta property="og:url" content="https://edualex.uy" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="EduAlex" />
    <meta property="og:locale" content="es_UY" />
    <title>EduAlex</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #007bff #f2faff;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    max-width: 1000px;
    margin: auto;
  }
  html {
    background: rgb(226, 243, 255);
    background: linear-gradient(
      180deg,
      #f2faff 0%,
      rgba(187, 218, 255, 1) 47%,
      rgba(152, 199, 255, 1) 88%
    );
  }
</style>
